@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Diamonda';
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
  font-named-instance: 'Regular';
  src: url(/fonts/SVN-Diamonda.otf) format("opentype");
}

@font-face {
  font-family: 'TheSecret';
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
  font-named-instance: 'Regular';
  src: url(/fonts/SVN-TheSecret.ttf) format("truetype");
}

@font-face {
  font-family: 'Comfortaa';
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
  font-named-instance: 'Regular';
  src: url(/fonts/Comfortaa-VariableFont_wght.ttf) format("truetype");
}

@font-face {
  font-family: 'Authoritative';
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
  font-named-instance: 'Regular';
  src: url(/fonts/SVN-Authoritative.otf) format("opentype");
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: #fff;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(200, 157, 156);
}

.section-bg-img {
  background: url("/images/bg.png") !important;
}

.section-padding {
  padding: 120px 0;
}

.row {
  margin-right: -15px;
  margin-left: -15px;
}

.invitation-section .invitation-box {
  background: #fff;
  max-width: 580px;
  padding: 90px 70px;
  -webkit-box-shadow: 0px 3px 24px 0px rgba(0, 0, 0, 0.06);
  box-shadow: 0px 3px 24px 0px rgba(0, 0, 0, 0.06);
  text-align: center;
  /* margin: 0 auto; */
  position: relative;
  z-index: 1;
}

.invitation-section .invitation-box:before {
  content: "";
  width: calc(100% - 100px);
  height: calc(100% - 100px);
  position: absolute;
  left: 50px;
  top: 50px;
  border: 5px solid rgb(129 103 103 / 40%);
}

.invitation-section .invitation-box .left-vec {
  background: url("/images/invitation-left-img.png") center center/cover no-repeat local;
  width: 220px;
  height: 414px;
  position: absolute;
  left: -150px;
  top: -100px;
  z-index: -1;
}

.invitation-section .invitation-box .right-vec {
  background: url("/images/invitation-right-image.png") center center/cover no-repeat local;
  width: 400px;
  height: 508px;
  position: absolute;
  right: -120px;
  bottom: -100px;
  z-index: -1;
}

.invitation-section .invitation-box .inner {
  position: relative;
}

.invitation-section .calendar-box {
  padding-top: 70px;
  padding-bottom: 90px;
}

.count-down-clock {
  max-width: 700px;
  margin: 0 auto;
}

#clock {
  color: #fff;
  overflow: hidden;
}

#clock>div {
  width: 25%;
  float: left;
  text-align: center;
  padding: 30px 15px 0;
  color: rgb(200, 157, 156);
}

/* .invitation-section .invitation-box .header { */
/* font-family: "Great Vibes", cursive; */
/* font-size: 50px; */
/* font-size: 3.33333rem; */
/* margin: 0 0 0.6em; */
/* } */

.invitation-section .invitation-box h2+span {
  font-size: 16px;
  font-size: 1.06667rem;
  font-weight: 300;
  color: #797979;
}

.invitation-section .invitation-box h3 {
  /* font-size: 32px; */
  /* font-size: 1.5rem; */
  font-weight: 600;
  margin: 0.83em 0 1em;
}

/* .invitation-section .invitation-box p { */
/* font-size: 17px; */
/* font-size: 1.13333rem; */
/* margin-bottom: 2em; */
/* } */

.theme-btn,
.theme-btn-s3,
.theme-btn-s4 {
  background-color: #c89d9c;
  color: #fff;
  padding: 15px 50px 15px 25px;
  font-weight: 600;
  border: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -o-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
  display: inline-block;
  position: relative;
}

@media (max-width: 767px) {
  .invitation-section .invitation-box.calendar-box {
    margin-bottom: 0;
  }

  .invitation-section .invitation-box {
    /* max-width: 300px; */
    padding: 50px 30px;
    margin: 50px auto;
  }

  .invitation-section .invitation-box:before {
    width: calc(100% - 40px);
    height: calc(100% - 40px);
    position: absolute;
    left: 20px;
    top: 20px;
    border: 3px solid rgb(129 103 103 / 70%);
  }
}

.invitation-section .calendar-box .mini_calendar .calendar-month {
  text-align: center;
  margin-bottom: 5px;
  font-weight: 900;
  color: #203447;
  text-transform: uppercase;
}

.invitation-section .calendar-box .mini_calendar {
  padding-bottom: 20px;
  border-bottom: 1px solid #E3E3E6;
}

.invitation-section .calendar-box table th {
  text-align: center;
  padding: 8px 0;
  color: #484747;
  border-top: 1px solid #CFCFD0;
  border-bottom: 1px solid #CFCFD0;
  font-size: 0.9em;
  font-weight: normal;
}

.invitation-section .calendar-box .mini_calendar td {
  font-size: 0.9em;
  text-align: center;
  width: 40px;
  height: 40px;
  vertical-align: middle;
  color: #484747;
}

.invitation-section .calendar-box .mini_calendar td #today {
  display: inline-block;
  width: 30px;
  height: 30px;
  line-height: 20px;
  padding: 5px;
  background-color: rgb(200, 157, 156);
  color: #fff;
  border-radius: 50%;
}

a#location:hover {
  color: rgb(200, 157, 156);
}

/* Tooltip container */
.tooltip {
  /* position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; */
  /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: rgb(249, 241, 246);
  color: #452647;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
  top: -5px;
  right: 105%;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}

.tooltip .tooltiptext::after {
  content: " ";
  position: absolute;
  top: 50%;
  left: 100%;
  /* To the right of the tooltip */
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent transparent rgb(249, 241, 246);
}